<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log" >

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="lowPacket" xsi:type="File" fileName="LoggingLowPacket.txt"
              deleteOldFileOnStartup="true" keepFileOpen="true"/>
    
    <target name="gamePacket" xsi:type="File" fileName="LoggingGamePacket.txt"
              deleteOldFileOnStartup="true" keepFileOpen="true"/>
    
    <target name="RawTCPPacket" xsi:type="File" fileName="RawTCPPacket.txt"
              deleteOldFileOnStartup="true" keepFileOpen="true"/>
    
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="PCap*"         minlevel="Trace" writeTo="lowPacket"  />
    <logger name="FFXIV.*"       minlevel="Trace" writeTo="gamePacket" />
    <logger name="RawTCPPacket"  minlevel="Trace" writeTo="RawTCPPacket" />
    
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>