<!doctype html>  
<html>
<head>
<meta charset="utf-8">
<title>FF14道具名转换器</title>
</head>
<body>
<p>本工具用于将英文/日文道具名转换到中文</p>
<p>格式：一行一个</p>
<p>注意：</p>
<ul>
<li>英文由于存在单复数问题。而XIVDb目前数据不全，不能识别所有道具名。如果识别不出请修改单复数</li>
<li>国服部分道具译名相同，可能有bug</li>
</ul>
<p></p>
<form method="post" enctype="application/x-www-form-urlencoded" action="">
<textarea name="Text1" cols="30" rows="90" style="margin: 0px; width: 629px; height: 119px;"></textarea>
<br />
<button type="submit" value="Submit">确认</button></form>
</body>
</html>